@{
    ViewBag.Title = "PesquisarPerguntas";
    Layout = null;
}

@using EuFaco.DataAccess.Models
@model List<Pergunta>


<div class="list-group" id="lista">

    @if (Model.Count > 0)
    {
        foreach (Pergunta pergunta in Model)
        {
            <a class="list-group-item" id="@String.Concat("msg", pergunta.Id)">
                <h4 class="list-group-item-heading">Autor da pergunta: @pergunta.Autor.Nome</h4>
                <input type="button" value="Abrir" onclick="@String.Format("seguir({0})", pergunta.Id)" />
                <p class="list-group-item-text">
                    <h4>@pergunta.Titulo        Perguntada em: @pergunta.DataHoraPerguntada.ToString("dd/MM/yyyy HH:mm")</h4>
                    <span>@pergunta.Texto</span>
                    <br>
                </p>
            </a>
        }
    }
</div>

<script>
    function seguir(n) {
        var link = '/Perguntas/Pergunta/' + n;
        location.href = link;
    }
</script>
